<head>
 <%= stylesheet_link_tag "seller1" %>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

 <nav style="background-color: rgba(255,255,255,0.8);">
   <div class="nav-wrapper">
     <a href="" class="brand-logo responsive-img logoimg"><%= image_tag( 'logo/horizontaleng300x200.png' ) %></a>
     <ul id="nav-mobile" class="right hide-on-med-and-down">

     </ul>
   </div>
 </nav>
</head>


<body class="background-image">
  <div class="container" style="padding-top: 10%;">


    <div class="col m10 formbg center-align">
      <h3 style="padding: 3%;"><strong>Thank you for submitting the information!</h3></strong>
      <h5 style="padding: 3%;"> We will send you the report shortly</h5>
    </div>
  </div>
</body>
