<head>
 <%= stylesheet_link_tag "seller2" %>
</head>


<body class="background-image">
<div class="row" style="padding-top: 7%;">
  <div class="col s1">
  </div>

  <div class="col s6">
    <h1 style="padding-bottom: 3%;"><strong>Thank You For Submitting!</h1></strong>
    <h4 style="padding-bottom: 3%;">We Will Be In Contact With You Shortly!</h4>
    <h4 style="padding-bottom: 3%;">For Any Further Questions, Please Contact Us At...</h4>
  </div>
</div>
</body>
