<head>
 <%= stylesheet_link_tag "buyer1" %>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>


 <div class="navbar-fixed">
   <nav style="background-color: rgba(0,0,0,0); box-shadow: none;">
     <div class="" style="padding-left: 2%; scale: 0.2;">
       <a href="" class="brand-logo responsive-img"><%= image_tag( 'logo/white/horeng300x200.png' ) %></a>
     </div>
   </nav>
 </div>
</head>


<body class="background-image">
<div class="container" style="padding-top: 10%;">


  <div class="col m10 formbg center-align">
    <h3 style="padding: 3%;"><strong>Thank you for submitting the information!</h3></strong>
    <h5 style="padding: 3%;">We will set up the listing alert for you shortly</h5>
  </div>
</div>
</body>
