<style>
  #filter {
    width: 100%;
  }
  #filter td,
  th {
    border: 3px black solid;
  }
  #filter th {
    font-size: 1.2em;
  }
  #filter td {
    text-align: right;
    padding-right: 5px;
  }
  .infoheader {
    border: 3px black solid;
    display: inline;
    flex: 1;
    text-align: center;
  }
  .innerbox {
    /*border-bottom:3px black solid;*/
    width: 50%;
    display: inline-block;
    text-align: center;
  }
</style>
<h2>Potential Matching Contacts</h2>
<hr>
<% lastcity = "" %>
<% @contacts.each do |contact| %>
  <% if lastcity == "" || lastcity != contact.city %>
    <% lastcity = contact.city %>
    <h3><%= lastcity %></h3>
  <% end %>
  <%= contact.propertytype %>
  <%= contact.first_name %>
  <%= contact.buysell %>
  <br>
<% end %>
