var updateEvent;

$(document).ready(function(){
  return $('#calendar').fullCalendar({
    header: { center: 'agendaWeek,month,listWeek' },
    defaultView: 'agendaWeek',
    editable: 'true',
    droppable: 'true',
    dragOpacity: "0.5",
    eventLimit: 3,
    height: 600,
    events: '/tasks.json',
    eventTextColor: '#fff',
    // eventSources: [{
    //   url: '/tasks',
    // }],

    eventDrop: function(event, dayDelta, minuteDelta, allDay, revertFunc) {
     return updateEvent(event);
   },
   eventResize: function(event, dayDelta, minuteDelta, revertFunc) {
     return updateEvent(event);
   },

    eventRender: function (event, element, view) {
      element.find('.fc-title').append('<div class="hr-line-solid-no-margin"></div><span style="font-size: 10px"><em>'+event.description+'</em></span></div>');
    }
  });
});

updateEvent = function(the_task) {
  var sttime = new Date(); sttime.setTime(the_task.start);
  var date = sttime.toISOString();
  console.log(date);
  return $.ajax("/tasks/" + the_task.id, {
    type: "PUT",
    dataType: 'json',
    data: {
      task:{
//        title: the_task.title,
        name: the_task.title,
        start_time: "" + new Date(the_task.start).toUTCString(),
        due_at: "" + new Date(the_task.end).toUTCString(),
//      start_time: date,
//      due_at: date,
//        due_at: the_task.end,
        description: the_task.description
      }
    },
    success: function (data) {
      console.log("success");
    },
    error: function(){
      console.log("fail");
    }
  });
};
