.filters#filters
  .caption= t :opportunity_stages


  .check_box
    %div{:style => "float:right;"}
      %b= @opportunity_stage_total[:all]
    %b #{t :total_opportunities}
  = hook(:index_opportunity_sidebar_bottom, self)
