.background-image {
background: image_url('1.jpg') no-repeat center center fixed;
color: white !important;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}


input {
  color: black;
  background-color: rgba(255,255,255, 0.85) !important;
  border-radius: 30px !important;
  // padding-left: 3% !important;
  text-indent: 2% !important;
}

input:focus {
    // box-shadow: 0 2px 0 0 white !important;
    box-shadow: inset 0px 17px 15px -15px black !important;
    border-bottom-color: black !important;
}

input::placeholder{
  color: #656565 !important;
}

.btn, .btn-large, .btn-small {
  background-color: rgba(255,255,255,0.8) !important;
  color: black !important;
  border-radius: 30px !important;
}

.btn:hover{
  background-color: rgba(0,0,0,0.8) !important;
  color: white !important;
}


label {
  color: white;
  font-size: 20px;
}


.ui-datepicker-month {
  display: inherit !important;
  border-radius: 30px !important;
}

.ui-datepicker-prev , .ui-datepicker-next {
  color: #039be5;
  cursor: pointer !important;
}

.ui-datepicker-prev {
  margin-left: 5% !important;
  float: left;
}

.ui-datepicker-next {
  margin-right: 5% !important;
  float: right;
}

#ui-datepicker-div{
  background-color: white !important;
  color: white;
  font-size: 15px !important;
  text-align: center;
  border-radius: 10px !important;
}

.ui-datepicker-year {
  font-size: 30px !important;
  border-radius: 30px !important;
  text-align: center;
  color: black;
}

.ui-datepicker-title {
  background-color: white;
  border-radius: 5px !important;
}

table {
 background-color: rgba(0,0,0,0.8) !important;
 color: white !important;
}

table , th, td {
  border: solid 1px !important;
  text-align: center !important;
}

textarea {
  background-color: rgba(255,255,255,0.8) !important;
  padding-left: 2%;
  padding-top: 1%;
  border-radius: 30px;
  resize: none;
  width: 100%;
  height: 25%;
  border: none !important;
}

.text:focus , .optional:focus {
  outline: none;
  box-shadow: inset 0px 17px 15px -15px black !important;
}

.formbtn {
  margin-top: 2%;
  text-align: center;
  padding: 0 20px !important;
  float: right !important;
  font-size: 25px;
}
