.background-image {
background: image_url('4.jpg') no-repeat center center fixed;
color: white !important;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
  flex: 1 0 auto;
}

select{
  display: block !important;
}

.formbg{
  background-color: rgba(0, 0, 0, 0.8) !important;
  padding-bottom: 3% !important;
  border-radius: 5px !important;
}

#locationField{
  padding: 2% !important;
  margin: 2% !important;
}

.btn, .btn-large, .btn-small {
  background-color: #89cff0 !important;
  color: white !important;
  border-radius: 5px !important;
}

.btn:hover{
  background-color: #404e70 !important;
  color: white !important;
}

input {
  color: white;
  text-indent: 2% !important;
}

input:focus {
    // box-shadow: 0 2px 0 0 white !important;
    // box-shadow: inset 0px 17px 15px -15px black !important;
    border-bottom-color: #89cff0 !important;
}


input::placeholder{
  color: #656565 !important;
  font-size: 12px;
}

label {
  color: #89cff0 !important;
  font-size: 20px !important;
}

.ui-datepicker-month {
  display: inherit !important;
  border-radius: 30px !important;
}

.ui-datepicker-prev , .ui-datepicker-next {
  color: #039be5;
  cursor: pointer !important;
}

.ui-datepicker-prev {
  margin-left: 5% !important;
  float: left;
}

.ui-datepicker-next {
  margin-right: 5% !important;
  float: right;
}

#ui-datepicker-div{
  background-color: white !important;
  color: white;
  font-size: 15px !important;
  text-align: center;
  border-radius: 10px !important;
}

.ui-datepicker-year {
  font-size: 30px !important;
  border-radius: 30px !important;
  text-align: center;
  color: black;
}

.ui-datepicker-title {
  background-color: white;
  border-radius: 5px !important;
}

table {
 background-color: rgba(0,0,0,0.8) !important;
 color: white !important;
}

table , th, td {
  border: solid 1px !important;
  text-align: center !important;
}

textarea {
  background-color: rgba(255,255,255,1) !important;
  padding-left: 2%;
  padding-top: 1%;
  resize: none;
  width: 100%;
  min-height: 35%;
  border: none !important;
}

textarea::placeholder {
  color: #656565 !important;
  font-size: 12px;
}

.text:focus , .optional:focus {

}

.formbtn {
  margin-top: 2%;
  text-align: center;
  padding: 0 20px !important;
  float: right !important;
  font-size: 25px;
}
