<h1>LeadMailer#new_lead_notification</h1>

<p>
  <%= @greeting %> <%= @lead.first_name.upcase %>, yeah, find me in app/views/lead_mailer/new_lead_notification.html.erb
</p>

<a href="%unsubscribe_url%">Click here to unsubscribe from any future emails.</a>
