<!DOCTYPE html>
<html>
  <head>
    <title>James Realtor CRM</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"/> -->
    <meta charset="utf-8">
    <style>
      #map-canvas,
      body,
      html {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= csrf_meta_tags %>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css"> <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> <script
    src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script> -->


  </head>
  <%=yield%>
</html>
